boto3==1.21.42
botocore==1.24.42
coreapi==2.3.3
Django==4.0.4
django_phonenumber_field==6.1.0
django_rest_passwordreset==1.2.1
django_rest_swagger==2.2.0
djangorestframework==3.13.1
location==0.0.7
python-dotenv==0.20.0
requests==2.27.1
serializers==0.2.4
username==2.1.0
